<!--<section class="col-md-2 hidden-xs ">
  <div ng-include src="'assets/templates/sidebar.html'" />
</section>-->
<section class="col-md-12 content-wraper" >
  </br>
  <div  class="col-md-3">
    <h5 class="alert alert-info">Notification réservations: </h5>
  </div>
  <div class="col-md-12" >

      <hr>
  </div>

  <div class="col-md-3">
    <h5 class="alert alert-warning">Notification retour: </h5>
  </div>
  <div class="col-md-12" >
      <hr>
  </div>

  <div class="col-md-3">
    <h5 class="alert alert-danger">Notification maintenance: </h5>
  </div>
  <div class="col-md-12" >
      <hr>
  </div>
</section>
