
<ul class="nav navbar-nav side-nav ">
    <li class="active" role="presentation">
        <a href="#/Reservations">Reservations</a>
    </li>
    <li  role="presentation">
        <a  href="#/Contrats">Contrats</a>
    </li>
    <li  role="presentation">
        <a  href="#/Clients">Clients</a>
    </li>
    <li  role="presentation">
        <a  href="#/Voitures">Voitures</a>
    </li>
    <li  role="presentation">
        <a  href="#/Utilisateur">Utilisateurs</a>
    </li>
    <li  role="separator" class="divider"></li>
    <li  role="presentation">
        <a  href="#/Factures">Facturation</a>
    </li>
</ul>
